body{
    background-color: white;
    font-family: Helvetica;
}
.my-grid div{
    border: 3px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.my-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
    "q q"
    "a0 a1"
    "a2 a3";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 5%;
    column-gap: 4%;
}
.question{
    grid-area: q;
    font-size: 4vmax;
    margin-top: 1.5%;
    padding: 3%;
    background-color: paleturquoise;
}
.q_text{
    margin-right: 7%;
}
.answer0{
    grid-area: a0;
    height: auto;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.answer1{
    grid-area: a1;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.answer2{
    grid-area: a2;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.answer3{
    grid-area: a3;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.refresh{
    position: absolute;
    width: 6%;
    margin-left: 70%;
    visibility: hidden;
}